{% extends "base.html" %}
{% block content %}
<div class="chat-name d-flex justify-content-start align-items-center p-2">
    <div class="p-2 flex-grow-1 bd-highlight">History</div>
    <div class="bd-highlight"><a href="{% url 'main' %}">Home</a></div>
    <div class="p-2 bd-highlight"><a href="{% url 'logout' %}">Logout</a></div>
    <form action="{% url 'search-results' %}" method ="POST">
        {% csrf_token %}
        <input type="text" name="content">
        <input type="submit" name="submit" class="btn-success" value="Search">
    </form>
</div>
{% include 'posts.html' %}
<div class="message-place d-flex justify-content-center pt-1">
    <nav aria-label="Page-navigation">
        <ul class="pagination">
            {% if messages.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ messages.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for i in number_of_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}
            {% if messages.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ messages.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ messages.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
