{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main' %}">ChatApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <img class="msg-avatar nav-link-active" src="{{user.profile.avatar.url}}"/>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-profile' %}">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'history' %}">History</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="messages-background h-100" id="background" style="overflow: auto;">
    {% for message in chat_messages reversed %}
        {% include 'posts.html' %}
    {% endfor %}
</div>
    <div class="message-place p-1">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="d-flex">
                <textarea id="content" name="content" maxlength="400" class="w-100"></textarea>
                <button type="submit" class="btn btn-success">Send</button>
            </div>
        </form>
        <script>
            (function() {
                var objDiv = document.getElementById("background");
                objDiv.scrollTop = objDiv.scrollHeight;
            }) ();
        </script>
    </div>
{% endblock %}

