{% extends "base.html" %}
{% block content %}
<div class="chat-name p-2 h-auto">Let's talk about something... <a href="{% url 'logout' %}">Logout</a></div>
{% include 'posts.html' %}
    <div class="message-place p-2 h-auto">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="d-flex">
                <textarea id="content" name="content" placeholder="Content" maxlength="400" class="w-100"></textarea>
                <button type="submit" class="btn btn-success">Send</button>
            </div>
        </form>
    </div>
{% endblock %}
