{% extends "base.html" %}
{% block content %}
<div class="messages-background h-100" id="background" style="overflow: auto;">
    {% for message in chat_messages reversed %}
        {% include 'posts.html' %}
    {% endfor %}
</div>
        

<div class="text-center">
    <div class="container p-3 pb-0">
        <form action="" method="POST">
        {% csrf_token %}
            <div class="row d-flex">
                <div class="col">
                    <input type="message" name="content" class="form-control" maxlength="300" />
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success mb-3">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

        
<script>
    (function() {
        var objDiv = document.getElementById("background");
        objDiv.scrollTop = objDiv.scrollHeight;
    }) ();
</script>

{% endblock %}

