{% block content %}
    <div class="message-container pb-2 pt-1 {% if message.author == request.user %} my-message {% else %} d-flex align-items-center {% endif %}">
        <div class="avatar-container d-flex p-2">
            {% if message.author.username == None %}
                <img class="msg-avatar" src="/media/default.jpg"/>
            {% elif not message.author == request.user %}
                <img class="msg-avatar" src="{{message.author.profile.avatar.url}}"/>
            {% endif %}
        </div>
        <div class="message align-items-center p-2">
            <span>{{ message.author }}</span>
            <div class="msg-content" id="message-id">{{ message.content }}</div>
            <span>{{ message.date }}</span>
                <form action="{% url 'like' %}" method="post">
                    {% csrf_token %}
                    {% if request.user in message.likes.all %}
                    <button type="submit" class="btn btn-secondary" id="btn-heart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg> {{ message.num_of_likes }}
                    </button>
                    {% else %}
                    <button type="submit" class="btn" id="btn-heart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg> {{ message.num_of_likes }}
                    </button>
                    {% endif %}
                    <input type="hidden" value="{{ message.id }}" name="id">
                </form>
            {% if user.is_superuser or message.author == request.user %}
            <form method="POST" action="{% url 'delete' %}" class="delete"> 
                {% csrf_token %}
                <div class="p-1">
                    <button class="btn-close" type="submit"></button>
                    <input type="hidden" value="{{ message.id }}" name="id">
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}