{% block content %}
    <div class="message-container pb-2 pt-1 {% if message.author == request.user %} my-message {% else %} d-flex align-items-center {% endif %}">
        <div class="avatar-container d-flex p-2">
            {% if message.author.username == None %}
                <img class="msg-avatar" src="/media/default.jpg"/>
            {% elif not message.author == request.user %}
                <img class="msg-avatar" src="{{message.author.profile.avatar.url}}"/>
            {% endif %}
        </div>
        <div class="message align-items-center p-2">
            <span>{{ message.author }}</span>
            <div class="msg-content" id="message-id">{{ message.content }}</div>
            <span>{{ message.date }}</span>
            {% if user.is_superuser or message.author == request.user %}
            <form method="POST" action="{% url 'delete' %}" class="delete"> 
                {% csrf_token %}
                <div class="p-1">
                    <button class="btn-close" type="submit"></button>
                    <input type="hidden" value="{{ message.id }}" name="id">
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}