* {
    margin: 0;
    padding: 0;
}

span {
    font-size: x-small;
    color: rgb(143, 6, 181);
}

h1 {
    color: rgb(252, 151, 0);
}

h6 {
    color:rgb(45, 109, 48);
}

body {
    height: 100vh;
    background-color: rgb(178, 196, 171);
}

.navbar {
    background-color: rgba(178, 196, 171, 0.763);
}

.messages-background {
    background-image: url('annie-spratt-0ZPSX_mQ3xI-unsplash.jpg');
}

.chat-name {
    border-bottom: 1px rgb(205, 204, 204) solid;
    color: rgb(45, 109, 48);
}

.button {
    background-color: rgb(143, 6, 181);
    font-size: 18px;
    color: white;
}

.message {
    border: rgb(215, 213, 213) 1px solid;
    box-shadow: 1px 2px rgb(179, 178, 180);
    border-radius: 20px;
    background-color: rgba(250, 248, 248, 0.671);
    position: relative;
}

.navbar-brand {
    padding-left: 5px;
}

.msg-content {
    word-break: break-word;
    white-space: pre-line
}

.my-message:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

.my-message .message {
    float: right;
}

div.my-message .message {
    background-color: rgba(178, 196, 171, 0.751);
}

textarea {
    resize: none;
}

.btn-close {
    width: 5px;
    height: 5px;
    opacity: 0.6;
}

form.delete {
    position: absolute;
    top: 5px;
    right: 5px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.msg-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

