{% block content %}
<div class="p-3">
    {% include 'user/includes/messages.html' %}
    <img class="avatar" src="{{ user.profile.avatar.url }}" />
</div>
<div class="form-content">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label class="mb-1">Username:</label>
                {{ user_form.username }}
            <label class="mb-1">Email:</label>
                {{ user_form.email }}
            <label class="small mb-1">Change Avatar:</label>
                {{ profile_form.avatar }}
        </div>
        <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
    </form>
</div>
{% endblock %}