{% extends "user_base.html" %}
{% block content %}
<div class="d-flex justify-content-center p-1">
    <h1>User Profile</h1>
</div>
<div class="d-flex justify-content-center p-1">
    <img class="avatar" src="{{ user.profile.avatar.url }}" />
</div>
<div class="d-flex justify-content-center">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <span>USERNAME</span>
        <div class="input-group row mb-3">
            <div class="input-group-append">
                <input type="text" class="form-control" value="{{ user.username }}" name="username">
            </div>
        </div>
        <span>EMAIL</span>
        <div class="input-group row mb-3">
            <div class="input-group-append">
                <input type="text" class="form-control" value="{{ user.email }}" name="email">
            </div>
        </div>
        <div class="mb-3">
            <span>AVATAR</span>
            <input class="form-control" type="file" name="avatar" id="formFile">
        </div>
        <div class="d-flex mt-3">
            <div class="p-1"><button type="submit" value="Register" class="btn btn-success p-1">Save Changes</button></div>
                <div class="p-1"><a href="{% url 'main' %}" value="btn-close" class="btn btn-secondary p-1">Back</a></div>
        </div>
    </form>
</div>
{% endblock %}
